
build-CursoC-Desktop_Qt_5_12_10_MinGW_32_bit-Debug/.qmake.stash
build-CursoC-Desktop_Qt_5_12_10_MinGW_32_bit-Debug/debug/Clase6.o
build-CursoC-Desktop_Qt_5_12_10_MinGW_32_bit-Debug/debug/CursoC.exe
build-CursoC-Desktop_Qt_5_12_10_MinGW_32_bit-Debug/debug/Prueba.o
build-CursoC-Desktop_Qt_5_12_10_MinGW_32_bit-Debug/Makefile
build-CursoC-Desktop_Qt_5_12_10_MinGW_32_bit-Debug/Makefile.Debug
build-CursoC-Desktop_Qt_5_12_10_MinGW_32_bit-Debug/Makefile.Release
build-CursoC-Desktop_Qt_5_12_10_MinGW_32_bit-Debug/debug/Tarea3.o
Reporte3/build-Reporte3-Desktop_Qt_5_12_10_MinGW_32_bit-Debug/.qmake.stash
Reporte3/build-Reporte3-Desktop_Qt_5_12_10_MinGW_32_bit-Debug/debug/main.o
Reporte3/build-Reporte3-Desktop_Qt_5_12_10_MinGW_32_bit-Debug/debug/Reporte3.exe
Reporte3/build-Reporte3-Desktop_Qt_5_12_10_MinGW_32_bit-Debug/Makefile
Reporte3/build-Reporte3-Desktop_Qt_5_12_10_MinGW_32_bit-Debug/Makefile.Debug
Reporte3/build-Reporte3-Desktop_Qt_5_12_10_MinGW_32_bit-Debug/Makefile.Release
*.docx
*.pdf
*.zip
