
build-CursoC-Desktop_Qt_5_12_10_MinGW_32_bit-Debug/.qmake.stash
build-CursoC-Desktop_Qt_5_12_10_MinGW_32_bit-Debug/debug/Clase6.o
build-CursoC-Desktop_Qt_5_12_10_MinGW_32_bit-Debug/debug/CursoC.exe
build-CursoC-Desktop_Qt_5_12_10_MinGW_32_bit-Debug/debug/Prueba.o
build-CursoC-Desktop_Qt_5_12_10_MinGW_32_bit-Debug/Makefile
build-CursoC-Desktop_Qt_5_12_10_MinGW_32_bit-Debug/Makefile.Debug
build-CursoC-Desktop_Qt_5_12_10_MinGW_32_bit-Debug/Makefile.Release
